@charset "utf-8";

/*统一设置*/
*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	height: calc(100%-40px);
}

/*设置网页背景*/
body{
	background: url(images/main_bg2.jpg) no-repeat;
	background-size: 100% 100%;
	padding-top: 40px;
}

/*登录区主体*/
#main{
	width: 350px;
	height: 600px;
	background-color: rgba(0,0,0,0.5);
	margin: 0px auto;
	border-top: 8px solid #0cc;
	position: relative;
}

/*头像区*/
#header-border{
	width: 198px;
	height: 198px;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
}

#hearder-pic{
	width: 184px;
	height: 184px;
	background: url(images/liudehua.jpg) no-repeat;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	left: 7px;
	top: 7px;
	float: left;
}

/*账号密码区*/
#account{
	width: 75%;
	padding: 5px;
	margin: 0 auto;
}

#account .input{
	line-height: 45px;
	overflow: hidden;
	background: transparent;
}

#account .input input{
	width: 100%;
	height: 40px;
	float: left;
	border: none;
	outline: none;
	margin-top:7.5px;
	color: #00CCCC;
	font-size: 14px;
	background: rgba(0,0,0,0.5);
	padding: 0 5px;
}

/*登录按钮*/
.login-btn{
	display: block;
	height: 40px;
	width: 75%;
	margin: 30px auto;
	border: none;
	outline: none;
	color: #ffffff;
	background: #00cccc;
	cursor: pointer;
}

.login-btn:active{
	position: relative;
	top: 2px;
}

/*登录区底部*/
#footer{
	position: absolute;
	bottom: 0;
	line-height: 50px;
	text-align: center;
	width: 100%;
	border-top: 1px solid #cccccc;
}

#footer a{
	color: #999999;
	text-decoration: none;
}
